apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: [[ .ProjectName ]]
resources:
  - namespace.yaml
  - configmap.yaml
[[ if .HasDatabase ]]
  - secret.yaml
[[ end ]]
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
